.hero-section {
    padding: 80px 20px;
    text-align: center;
  
    .hero-content {
      max-width: 750px;
      margin: 0 auto;

      button{
        background-color:  #007b5e;
        color: #ffffff;
      }
  
      h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color:  #007b5e;
      }
  
      p {
        font-size: 1.2rem;
        margin-bottom: 30px;
        color: #4e342e;
      }
  
      .cta-buttons {
        display: flex;
        justify-content: center;
        gap: 15px;
      }
    }
  }
  
  .features-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 20px;
    background-color: #f1f8e9;
  
    .feature {
      flex: 1 1 250px;
      max-width: 400px;
      text-align: center;
      margin: 20px;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      mat-icon {
        font-size: 27px;
        color:  #007b5e;
        margin-bottom: 10px;
      }
  
      h3 {
        margin-bottom: 10px;
        color: #007b5e;
      }
  
      p {
        color: #4e342e;
      }
    }
  }
  
  .testimonials-section {
    background-color:  #f1f8e9;
    padding: 60px 20px;
    text-align: center;
  
    h2 {
      margin-bottom: 40px;
      color:  #007b5e;
    }
  
    .testimonial {
      max-width: 600px;
      margin: 0 auto 30px;
      font-style: italic;
      color: #4e342e;
  
      span {
        display: block;
        margin-top: 10px;
        font-weight: bold;
        color:  #007b5e;
      }
    }
  }
  
  .cta-section {
    background-color:  #f1f8e9;
    color:  #007b5e;
    text-align: center;
    padding: 60px 20px;
  
    h2 {
      margin-bottom: 20px;
    }
  
    p {
      margin-bottom: 30px;
    }
  
    button {
      background-color:  #007b5e;
      color: #ffffff;
    }
  }
  